body{
  margin-left: 20%;
  margin-right: 20%;
  background-image: #DCDCDC;
}

ul{
  background-color: grey;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration:none;
  font-family: helvetica;
}

.Projetsimg{
  border: 1px solid grey;
  border-radius: 5px;	
  height: 100%;
  max-height:100px;
}

.projets {
  font-size: large;
  font-family: helvetica;
}

.Contact {
  font-size: large;
  font-family: helvetica;
}

.mail {
  font-family: helvetica;
  font-size: 13px;
}

.linkedin {
  width: 20px;
  height: auto;
}

.pprincipal{
  float: left;
  width: 70%;
}

.psecondaire{
  float: left;
  width: 30%;
}

.imglinkedin{
  width: 50px;
  height: auto;
}

.imgmail{
  width: 50px;
  height: auto;  
}